<footer class="bg-dark text-light text-center py-4 mt-5">
  <div class="container">

    <p class="mb-2">© 2026 Wanderlust. All rights reserved.</p>

    <!-- Social Media Icons -->
    <div class="social">
        <div class="insta"><i class="fa-brands fa-instagram"></i></div>
        <div class="face"><i class="fa-brands fa-facebook"></i></div>
        <div class="linked"><i class="fa-brands fa-linkedin"></i></div>
    </div>

    </div>

    <!-- Footer Links -->
    <div>
      <a href="#" class="text-light mx-2">Privacy</a>
      <a href="#" class="text-light mx-2">Terms</a>
      <a href="#" class="text-light mx-2">Contact</a>
    </div>

  </div>
</footer>