<h3>All Reviews</h3>

<% for(let review of listing.reviews) { %>
    <div class="review">
        <p><strong>Rating:</strong> <%= review.rating %></p>
        <p><%= review.comment %></p>
    </div>
<% } %>